.super-mario {
    width: 250px ;
    position: absolute;
    right: 1300px;
z-index: 1;
}
.goomba {
    width: 150px;
  position: absolute;
  bottom: 250px;
  left: 450px;
  z-index: 2;
}
.baloon {
    width: 250px;
    position: absolute;
    right: 900px;
    z-index: 4;
}
.bowser {
    width: 350px;
    position: absolute;
    right: 500px;
    top: 200px;
    z-index: 3;
}
body {
    margin: 200px;
    display: inline;
}
p {
    font-family: fantasy;
    
    position: absolute;
    bottom: 770px;
    right: 950px;
    z-index: 5;
}