h1 {
    font-family: sans-serif;
  }
  p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
  }
  body {
    font-size: 16px;
  line-height: 2;
  text-align: center;
  }
#a {
  background-color: yellow;
}
#v {
  background-color:  red;
}
#m {
  background-color: brown;
}